.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(255,46,87);
    background: linear-gradient(90deg, rgba(255,46,87,1) 0%, rgba(235,75,146,1) 35%, rgba(109,16,254,1) 100%);
    padding : 20px;
}

.sort-az-button{
    color: white;
    height: 30px;
    width: 80px;
    background-color: transparent;
    border: none;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}

.sort-az-button:hover{
    color: rgb(47, 47, 47);
    height: 30px;
    width: 80px;
    background-color: white;
    border: none;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}

.sort-za-button{
    color: white;
    height: 30px;
    width: 80px;
    background-color: transparent;
    border: 2px white solid;
}

.sort-za-button:hover{
    color: rgb(47, 47, 47);
    height: 30px;
    width: 80px;
    background-color: white;
    border: 2px white solid;
}

.sort-buttons{
    position: relative;
    top:10px;
}

.sticky-header{
    position: sticky;
    top:0px;
}

.the-movie-ranch-title{
    color: white;
    position: relative;
    top: -10px;
}

.no-of-movies-selector{
    color: white;
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 5px;
    outline: transparent;
}

.no-of-movies-selector:hover{
    color: rgb(48, 48, 48);
    height: 40px;
    width: 100px;
    background-color: white;
    border: 2px white solid;
    border-radius: 5px;
    outline: transparent;
}

.select-movie-label{
    font-size: 16px;
    color: white;
    position: relative;
    top:10px;
    left:60px;
}
